/*Last Updated 2021-11-20*/

/*Section I: Frame*/

* {
    border-radius: 0 !important;
}

::before {
    border-radius: 0 !important;
}

#aHolder, #endAContainer {
    display: none !important;
}

#newsHolder {
    display: none;
}

#seasonLabel {
    display: none;
}

#ot-sdk-btn-floating.ot-floating-button {
    display: none !important;
}

/*Loading Screen*/

.lC-cube {
    display: none;
}

#loadGamNm {
    display: none;
}

#lC-cont::after {
    content: "CONNECTING...";
    color: rgba(255,255,255,.8);
    animation: grow .8s infinite alternate;
}

#loadHeader {
    display: none;
}

#loadTipsHolder {
    font-size: 0;
}

#loadTipsHolder span {
    display: none;
}

#loadTipsHolder::before {
    content: "css by tae";
    font-size: 25px;
}

#loadTipsHolder::after {
    content: "last updated 11-20-21";
    font-size: 25px;
    display: block;
}

#instructionsUpdate {
    background-color: transparent;
}

/*Section II: Chat UI*/

#chatHolder[style="bottom: 148px;"] {
    bottom: 120px !important;
}

#uiBase.onMenu #chatHolder {
    left: 20px;
}

#chatInput {
    border-radius: 0;
}

#chatList {
    background-color: transparent;
}

.chatItem {
    padding: 5px 10px;
    border-radius: 0;
}

#uiBase.onMenu #voiceDisplay {
    left: 300px;
}

#voiceDisplay[style="bottom: 145px;"] {
    bottom: 117px !important;
}

#chatInputHolder {
    background-color: transparent;
    border: none;
    padding: 0;
}


#chatInput {
    background-color: rgba(0,0,0,0.25);
    border: none;
    font-size: 20px;
}

#chatSwitch {
    position: relative;
    bottom: 2px;
}

#voiceDisplay {
    padding: 0;
    background-color: transparent;
    border: none;
}

#uiBase.onMenu #voiceDisplay {
    left: 350px;
}

/*Section III: Main Menu*/

#mainLogo {
    margin-top: 50px;
    margin-bottom: -40px;
    height: 225px;
    content: url(https://i.imgur.com/QMx5AmE.png)!important;
}

#braveWarning {
    display: none !important;
}

#subLogoButtons {
    display: flex;
    justify-content: space-between;
    width: 720px;
    top: 180px;
    bottom: unset;
    left: 50%;
    transform: translate(-50%,0);
    text-transform: uppercase;
}

#subLogoButtons>.button {
    padding: 0 !important;
    margin: 0;
    font-size: 24px !important;
}

#faceItIconM {
    display: none;
}

#rankedSoonTm {
    display: none;
}

/*Headerbar*/

.headerBar [style*="block"] {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.headerBarLeft {
    background-color: transparent;
}

.krInfo, .junkInfo {
    margin: 0;
}

#mLevelCont {
    display: flex;
    position: relative;
    left: 8px !important;
    background: transparent;
    font-size: 16px;
    height: unset;
    padding: 0;
}

#mLevelContV::before {
    content: "LV";
    margin-right: 10px;
}

#mLevelContV {
    font-size: 16px;
    line-height: unset;
}

#mailCount {
    border: none;
}

.rankClck {
    display: none;
}

#menuLvlHold {
    display: none;
}

.krSocial {
    display: none;
}

#uiBase.onMenu #spectButton {
    z-index: 1;
}

#uiBase.onMenu #claimHolder {
    left: 10px;
    top: 80px;
}

#claimTimer {
    font-size: 16px !important;
}

#uiBase.onMenu #merchHolder {
    display: none !important;
}

#tlInfHold {
    display: none !important;
}

.headerBarRight {
    display: none;
}

#menuClassContainer {
    top: unset;
    left: 50%;
    right: unset;
    bottom: 20px;
    transform: translate(-50%,0%);
    z-index: 2;
}

#bubbleContainer {
    display: none;
}

#menuClassNameTag {
    display: none;
}

#classPreviewCanvas {
    display: none;
}

#menuClassName, #menuClassSubtext {
    text-shadow: none !important;
}

.bigShadowT {
    text-shadow: unset;
}

#customizeButton {
    width: 230px;
    text-align: center;
    padding: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    background-color: unset!important;
    box-shadow: unset!important;
}

#customizeButton .material-icons {
    display: none !important
}

#policeButton {
    display: none;
}

/*Menu Options*/

#menuItemContainer {
    right: 20px;
    left: unset;
    top: 20px;
    bottom: unset;
    width: 180px;
    background-color: transparent;
    align-items: flex-end;
}

.menBtnIcn {
    display: none !important;
}

.menuItem {
    display: block;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

.menuItem:hover {
    border: none !important;
    filter: brightness(1.25);
}

.menuItem .menuItemIcon {
    display: none;
}

.menuItem .menuItemTitle {
    margin-top: 5px;
    color: #3090fa;
    font-size: 22px !important;
    text-align: end;
    width: max-content;
}

#menuBtnProfile {
    margin: 0;
}


#clientExit {
    align-items: flex-end;
}

/*Menu Buttons*/

.button {
    background-color: transparent;
    text-align: center;
    color: #f5c564;
    text-shadow: 0 4px 0 #caa355!important;
    border: none !important;
}

.button:hover {
    color: #fff;
    text-shadow: 0 4px 0 #a9a9a9!important;
    background-color: #fff0;
    border: none !important;
}

.button.small {
    padding: 1px 13px 12px 12px !important;
    text-shadow: 0 5px 0 #caa355 !important;
    background-color: transparent!important;
    box-shadow: none !important;
}

.button.small:hover {
    text-shadow: 0 4px 0 #adadad!important;
}

.button.lgn {
    display: none;
}

/*Menu Window*/

#windowHolder {
    background-color: transparent !important;
}

#windowCloser {
    pointer-events: none;
}

#menuWindow {
    width: 705px !important;
    top: 50%;
    border-radius: 0;
    max-height: calc(100% - 560px) !important;
    border-top: 33px solid;
    border-image: linear-gradient(to right, #f15757 10%, white 10%, white 20%, #f15757 20%, #f15757 30%, white 30%, white 40%, #f15757 40%, #f15757 50%, white 50%, white 60%, #f15757 60%, #f15757 70%, white 70%, white 80%, #f15757 80%, #f15757 90%, white 90%);
    border-image-slice: 1;
    background-color: #fff !important;
    box-shadow: 0 9px 0 0 #a6a6a6 !important;
}

#menuWindow[style*="width: 1300px"] {
    width: 1300px !important;
    max-height: calc(100% - 560px) !important;
}

#menuWindow.dark div {
    color: unset;
}

#menuWindow div[style*="255,255,255"], #menuWindow span[style*="255,255,255"], #menuWindow span[style*="#fff"] {
    color: rgba(0,0,0,0.5) !important;
}

.floatR {
    color: initial;
}

.floatR[href*="p=profile"] {
    color: var(--blue) !important;
}

.setBodH[style="display:inline-block;padding-top:10px;vertical-align:top;width:680px;margin-left:15px;margin-top:0px;"] {
    width: 528px !important;
}

.bigMenTabs {
    background-color: rgba(0,0,0,0.12);
}

.bigMenTab {
    font-size: 20px;
    line-height: 35px;
}

#profilePicM {
    border: none;
    margin: 0;
    height: 150px;
    width: 150px;
}

.setHed {
    background-color: transparent !important;
    border: none;
    font-size: 22px;
    padding: 0;
    margin-bottom: 8px !important;
}

.settName, .settNameSmall {
    color: rgba(0,0,0,0.5) !important;
    font-size: 22px;
    margin: 0;
    margin-top: 3px;
    padding: 0 !important;
    border: none;
}

.setBodH {
    margin: 0;
    background-color: transparent;
    padding: 0 !important;
    width: -webkit-fill-available;
}

.pSt {
    width: -webkit-fill-available;
    border: none;
    text-shadow: none !important;
    font-size: 22px;
    background-color: transparent;
    text-align: left;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    color: rgba(0,0,0,0.5) !important;
    text-transform: inherit;
}

.pSt strong {
    float: right;
    font-size: 22px;
    color: #353535;
}

#friendList .button {
    text-shadow: none !important;
    color: var(--blue) !important;
    font-size: 22px !important;
    padding: 0 !important;
}

#friendList .buttonR {
    color: var(--red) !important;
}

#friendList .lName {
    color: rgba(0,0,0,0.5) !important;
    font-size: 22px;
}

/*XP Bar and Challenges*/

.xpBar {
    height: 20px !important;
    background-color: rgba(0,0,0,0.25);
    border-radius: 0;
    position: relative;
}

.xpBarB {
    background-color: #fff;
    background-image: none;
}

.xpBarV {
    display: none;
}

.chalCard {
    text-shadow: none;
    background-color: transparent;
    color: rgba(0,0,0,0.5);
}

.chalRight {
    width: 548px;
}

.chalDesc {
    color: rgba(0,0,0,0.5);
    margin-top: 5px;
}

.chalImgC {
    border-radius: 0;
}

.chalXPBar {
    height: 20px;
    padding: 6px;
    margin-top: 8px;
    background-color: rgba(0,0,0,0.2);
    width: -webkit-fill-available;
}

.chalXPBarC {
    height: 18px;
    margin-top: 1px;
    background-color: #fff;
    background-image: none;
}

.chalProg {
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    top: 5px;
}

.chalImgC {
    width: 110px;
}

/*Login*/

#referralHeader {
    color: #fff !important;
}

.accountInput {
    background-color: rgba(0,0,0,0.12);
    color: #353535;
}

.accBtn {
    background-color: var(--blue) !important;
    text-shadow: none !important;
    color: #fff !important;
    width: calc(50% - 25px);
}

/*Loadout Select*/

.loadoutBtn {
    border-radius: 0;
}

#selectorContainer {
    display: flex;
    height: auto;
    width: -webkit-fill-available;
    justify-content: space-between;
    filter: none;
    background-color: #fff;
    z-index: 2;
    padding: 0 20px;
    margin-bottom: 20px;
}

.selectorItem {
    left: 0;
    transform: unset;
    background-color: transparent !important;
    filter: none !important;
}

#customizeContainer {
    float: unset;
    width: 100%;
}

.selectorItem {
    margin: 0;
    left: 0;
    transform: unset;
    background-color: transparent !important;
    filter: none !important;
}

.selectorItem .selectorIcon {
    filter: drop-shadow(0px 0px 0px #000);
}

.selectorLabel {
    text-shadow: none;
    color: rgba(0,0,0,0.5);
}

.custContainer {
    border-radius: 0;
    border: none;
    background-color: rgba(0,0,0,0.12);
}

.custContainer {
    border-radius: 0;
    border: none;
    background-color: transparent !important;
    box-shadow: none;
    width: -webkit-fill-available !important;
    height: 32px;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    pointer-events: none;
}

.custItNm {
    top: 0;
    left: 0;
    font-size: 22px;
}

.custIcon {
    display: none;
}

.settLabel {
    right: 0;
    bottom: 0;
    font-size: 22px;
    text-shadow: none;
    pointer-events: all;
}

.settLabel[style="color:#efefef"] {
    color: rgba(0,0,0,0.5) !important;
}

.settLabel:hover {
    text-decoration: underline;
}

.settSmall {
    font-size: 22px;
    margin: 0 !important;
}

.selRandom {
    display: none;
}

.custIconSpray {
    display: none;
}

.classWeap {
    color: rgba(0,0,0,0.5);
    text-align: unset;
    transition-duration: 0.12s;
}

.classCard {
    width: -webkit-fill-available;
    text-align: unset;
    height: 80px;
    text-indent: 100px;
    text-shadow: none;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    transition-duration: 0.12s !important;
    filter: none;
    pointer-events: none;
}

.classCard:hover {
    color: transparent !important;
}

.classCard:hover> .classWeap {
    color: transparent !important;
}

.classImgC {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    border-radius: 0;
    background-color: rgba(0,0,0,0.25);
    margin-top: 0;
    z-index: 2 !important;
}

.classCard::after {
    content: "play_arrow";
    font-family: material-icons;
    color: #fff;
    background-color: var(--blue);
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    text-indent: 0;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
    pointer-events: all;
}

.classCard:hover>.classLvl {
    opacity: 1;
    color: rgba(0,0,0,0.5) !important;
}

.classLvl {
    top: 0px;
    right: unset;
    left: 100px;
    text-indent: 0;
    color: rgba(0,0,0,0.5);
    opacity: 0;
    transition-duration: 0.12s;
}

.classXPBar {
    top: unset;
    bottom: 0px;
    left: 100px;
    width: calc(100% - 200px);
    border-radius: 0;
    background-color: rgba(0,0,0,0.25);
    height: 25px;
    opacity: 0;
    transition-duration: 0.12s;
}

.classCard:hover>.classXPBar {
    opacity: 1;
}

.clsXPBarC {
    height: 17px;
    background-color: #fff;
}

#menuWindow[style="overflow-y: auto; width: 877px;"] {
    width: 705px !important;
}

#skinList {
    position: relative;
    left: -20px;
    padding: 20px;
    width: 100%;
}

.skinCard {
    width: -webkit-fill-available;
    text-align: unset;
    height: 80px !important;
    text-indent: 100px;
    text-shadow: none;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    transition-duration: 0.12s;
    border: none !important;
    margin-left: 0;
    margin-right: 0;
    pointer-events: none;
}

.skinCard::after {
    content: "play_arrow";
    font-family: material-icons;
    color: #fff;
    background-color: var(--blue);
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    text-indent: 0;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
    pointer-events: all;
}

.skinCard:hover {
    background-color: transparent;
}

.skinImg, .secImg, .skinImgC {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    padding: 5px;
    background-color: rgba(0,0,0,0.25);
}

.itemOwn {
    text-align: left;
    margin-top: 5px;
    color: rgba(0,0,0,0.5);
    font-size: 20px;
}

.itemCnt {
    display: none;
}

.itemSea {
    display: none;
}


.skinRandom {
    display: none;
}

/*Maps and Mods*/

#serverSearch {
    border-radius: 0;
}

.quickJoin {
    border-radius: 0;
    text-shadow: none;
}

.slideImg {
    border-radius: 0;
}

/*Shop*/

#menuWindow[style="overflow-y: auto; width: 1300px; top: 48%; transform: translate(-50%, -52%); max-height: calc(100% - 290px);"] {
    width: 705px !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#menuWindow[style="overflow-y: auto; width: 960px;"] {
    width: 705px !important;
}

.bigMenTab[style*="16px"] {
    font-size: 14px !important;
    padding: 0;
}

#shopMainSellB, #shopSideSellB, #shopPremBar {
    width: -webkit-fill-available;
    margin: 8px 0;
}

#shopMainHedr, #shopMainNav, #shopPremHed, .shopSideSpnNm {
    color: #fff !important;
}

#storeList {
    white-space: break-spaces;
}

.prizeWheelTable {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    zoom: 1;
}

.shopCard {
    width: -webkit-fill-available !important;
    background-image: none !important;
    text-align: left;
    text-shadow: none !important;
    color: #2196f3 !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0;
    background-color: transparent !important;
    height: 40px !important;
    margin-top: 3px !important;
}

.spinValH {
    margin: 0;
    text-shadow: none;
    top: 0;
    width: 100%;
}

.spinValL {
    float: right;
    text-align: unset;
    width: auto;
    font-size: 22px;
    text-shadow: none;
}

.shopImg {
    display: none;
}

.shopImgGrad {
    display: none;
}

.spinVal {
    margin: 0 !important;
    line-height: unset !important;
    height: auto;
    width: fit-content;
    margin: unset;
    background-color: transparent;
    float: right;
    text-align: end;
    font-size: 22px;
    color: rgba(0,0,0,0.5) !important;
}

.spinVal span {
    color: #353535 !important;
}

/*Settings*/

.setSugBox2 {
    display: none;
}

.settingsHeader {
    top: -1px !important;
}

.settingsHeader, .serverHeader, #itemSearchH {
    background-color: #fff;
}

#menuWindow div[style="display:inline-block;width:220px;"] {
    width: 200px !important;
}

#settSearch {
    border-radius: 0;
}

.settingsBtn {
    border-radius: 0;
    width: 80px;
}

#settingsTabLayout {
    border-radius: 0;
}

.settingTab {
    grid-row: 1;
    background-color: transparent;
    font-size: 18px;
    padding: 10px 0 5px;
}

.settingsBtn, .loadoutBtn {
    color: #fff !important;
}

.slider, .slider2 {
    border-radius: 0;
}

.slider:before {
    border-radius: 0;
}

.slider2:before {
    border-radius: 0;
}

.sliderM {
    border-radius: 0;
}

.sliderVal {
    border-radius: 0;
    background-color: var(--blue);
    border: none !important;
}

.sliderM::-webkit-slider-thumb {
    width: 15px;
    height: 25px;
    border-radius: 0;
    background-color: var(--blue);
}

.inputGrey, .inputGrey2 {
    border-radius: 0;
}

input[type=color] {
    border-radius: 0;
}

.plusOrMinus {
    color: var(--blue) !important;
}

/*Section III: HUD*/

#hudClassIcon {
    display: none;
}

#healthValueHolder {
    background-color: transparent;
    transform: translate(0, 58px);
}

#healthValue {
    color: #fff;
    font-size: 24px;
}

#maxHP {
    color: #fff;
}

#challIcon {
    display: none;
}

#healthBar {
    background-color: rgba(0,0,0,.4);
}

.healthBarSeg {
    width: 60px;
    border-radius: 0px;
    margin-right: -1px;
    background-color: transparent;
    
}

.hpBSeg {
    border-radius: 0px;
    box-shadow: none !important;
}

#ammoDisplay {
    border-radius: 0;
}

#timerDisplay {
    border-radius: 0;
}

#teamScores {
    border-radius: 0;
}

#leaderDisplay {
    border-radius: 0;
}

.countIcon {
    border-radius: 0;
    background-color: rgba(0,0,0,0.2);
    font-size: 25px;
}

#killsIcon, #deathsIcon, #streakIcon, #kdIcon {
    width: 35px;
    height: 35px;
}

/*Terms*/

#termsInfo {
    background-color: transparent;
}

.terms {
    color: #269fff;
}

.terms:hover {
    text-decoration: underline
}

.standout {
    color: #f6d365;
}

/*Clients*/

.settingsBtn[onclick="window.gt.showAltMng()"], .settingsBtn[onclick="window.logoutAcc()"] {
    display: none;
}

#uiBase.onMenu #LaFWaterMark {
    bottom: unset !important;
    top: 400px;
}
