/*Last Updated 2024-12-26*/

/*Section I: Frame*/

:root {
    --div-grey: transparent;
    --div-black: rgba(0,0,0,.25)
}

* {
    border-radius: 0 !important;
    font-family: 'GameFont1';
}

@font-face {
    font-family: 'GameFont1';
    src: url("https://raw.githubusercontent.com/DankestFke/files/main/FFFForwardRegular.ttf");
}

::before {
    border-radius: 0 !important;
}

#aHolder, #endAContainer {
    display: none !important;
}

#topRightAdHolder, #streamContainer {
    display: none !important
}

#newsHolder {
    display: none;
}

#seasonLabel {
    display: none;
}

#ot-sdk-btn-floating.ot-floating-button {
    display: none !important;
}

/* scrollbar */

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border-radius: unset;
    box-shadow: unset
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.12)
}

/*Loading Screen*/

.lds-ring div {
	display: none;
	animation: unset;
}

#instructions div[style*="width:100%"]::after {
	display: block;
    content: "CONNECTING...";
    color: rgba(255,255,255,.8);
    animation: grow .8s infinite alternate;
}

.lds-ring {
	display: block;
	top: 75px;
	left: 50%;
	position: fixed;
	width: 450px;
	height: auto;
	transform: translateX(-50%) scale(.7);
	font-size: 25px;
	color: rgba(255,255,255,.8);
}

.lds-ring::before {
    content: "CSS by tae";
    color: rgba(255,255,255,.8);
	isolation: isolate
}

.lds-ring::after {
    content: "Last updated 2025-6-1";
	margin-top: 5px;
    display: block;
	color: rgba(255,255,255,.8);
	isolation: isolate
}

/*Section II: Chat UI*/

#uiBase.onGame #chatHolder {
    bottom: 80px !important;
}

#uiBase.onMenu #chatHolder {
    left: 20px;
}

 #uiBase.onDeathScrn #chatHolder {
	 left: 20px;
	 bottom: 20px !important
 }

#chatList {
    background-color: transparent;
}

.chatItem {
    padding: 5px 10px;
    border-radius: 0;
    max-width: 280px;
    font-size: 14px;
    margin-bottom: 10px;
	background-color: var(--div-black)
}

.greyInner, .greyInlineInner, .greyInlineInnerMid {
    padding: unset;
    margin: unset
}

#chatInputHolder {
    background-color: transparent;
    border: none;
    padding: 0;
    align-items: center
}

#chatInput {
    background-color: rgba(0,0,0,0.25);
    border: none;
    font-size: 18px;
    padding: 5px !important;
    padding-left:  10px !important;;
}

#chatSwitch {
    position: relative;
    bottom: 0px;
}

.greyInlineInner {
    opacity: .3
}

/*Section III: Main Menu*/

#mainLogo {
    margin-top: 50px;
    margin-bottom: -40px;
    height: 215px;
    content: url(https://i.imgur.com/QMx5AmE.png)!important;
}

#subLogoButtons {
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    top: 170px;
    bottom: unset;
    left: calc(50% - 350px);
    transform: unset;
    text-transform: uppercase;
}

#subLogoButtons>.button {
    padding: 0 !important;
    margin: 0;
    font-size: 24px !important;
    transform: unset !important
}

#subLogoButtons .button.small:not(:nth-child(6))::after {
    content:"|";
    color: #fff;
    text-shadow: 0 5px 0 #a6a6a6 !important;
    margin: 0 10px;
}

#subLogoButtons .button.small {
	margin-left: -50px;
}

.button:hover::after  {
    transform: unset
}

#mapInfoHld {
    position: fixed;
    visibility: hidden
}

#mapInfo {
    position: fixed;
    visibility: visible;
    left: unset;
    right: 15px;
    bottom: 80px;
    text-transform: capitalize
}

/*Headerbar*/

.headerBar [style*="block"] {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.headerBarLeft {
    background-color: transparent;
}

#menuMiniProfilePic, #menuAccountUsername,
#menuKRCount, #menuJNKCount, #mailIcon {
    vertical-align: middle;
}

.krInfo, .junkInfo {
    margin: 0;
}

#mLevelCont {
    display: flex;
    position: relative;
    left: 8px !important;
    background: transparent;
    font-size: 16px;
    height: unset;
    padding: 0;
}

#mLevelContV::before {
    content: "LV";
    margin-right: 10px;
}

#mLevelContV {
    font-size: 16px;
    line-height: unset;
}

#mailCount {
    border: none;
}

#menuLvlHold {
    display: none;
}

.krSocial {
    display: none;
}

#uiBase.onMenu #spectButton {
    z-index: 1;
}

#uiBase.onMenu #claimHolder {
    left: 10px;
    top: 80px;
}

#claimTimer {
    font-size: 16px !important;
}

#uiBase.onMenu #merchHolder {
    display: none !important;
}

#tlInfHold {
    display: none !important;
}

.headerBarRight {
    display: none;
}

#menuClassContainer {
    top: unset;
    left: 50%;
    right: unset;
    bottom: 20px;
    transform: translate(-50%,0%);
    z-index: 2;
}

#bubbleContainer {
    display: none;
}

#menuClassNameTag {
    display: none;
}

#classPreviewCanvas {
    display: none;
}

#menuClassName, #menuClassSubtext {
    text-shadow: none !important;
}

.bigShadowT {
    text-shadow: unset;
}

/*Menu Options*/

#menuItemContainer {
    right: 20px;
    left: unset;
    top: 20px;
    bottom: unset;
    width: 180px;
    background-color: transparent;
    align-items: flex-end;
}

.menBtnIcn {
    display: none !important;
}

.menuItem {
    display: block;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

.menuItem:hover {
    border: none !important;
    filter: brightness(1.25);
}

.menuItem .menuItemIcon {
    display: none;
}

.menuItem .menuItemTitle {
    margin-top: 5px;
    color: #3090fa;
    font-size: 22px !important;
    text-align: end;
    width: max-content;
}

#menuBtnProfile {
    margin: 0;
}


#clientExit {
    align-items: flex-end;
}

/*Menu Buttons*/

.button {
    background-color: transparent;
    text-align: center;
    color: #f5c564;
    text-shadow: 0 4px 0 #caa355 !important;
    border: none !important;
}

.button:hover {
    color: #fff;
    background-color: #fff0;
    border: none !important;
}

.button.small {
    padding: 1px 13px 12px 12px !important;
    text-shadow: 0 5px 0 #caa355 !important;
    background-color: transparent!important;
    box-shadow: none !important;
}

.button.small:hover {
    text-shadow: 0 5px 0 #adadad!important;
}

#menuBtnRanked {
	display: none!important;
}

.button.lgn {
    display: none;
}

#customizeButton {
    width: 318px;
    text-align: center;
    padding: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    background-color: unset!important;
    box-shadow: unset!important;
}

#customizeButton .material-icons {
    display: none !important
}

#customizeButton:hover {
	text-shadow: 0 4px 0 #a9a9a9!important;
	transform: unset
}

#policeButton {
    display: none;
}

/*Menu Window*/

#windowHolder {
    background-color: transparent !important;
}

#menuWindow {
    top: 50%;
    border-radius: 0;
    max-height: calc(100% - 560px) !important;
    border-top: 33px solid;
    border-image: linear-gradient(to right, #f15757 10%, white 10%, white 20%, #f15757 20%, #f15757 30%, white 30%, white 40%, #f15757 40%, #f15757 50%, white 50%, white 60%, #f15757 60%, #f15757 70%, white 70%, white 80%, #f15757 80%, #f15757 90%, white 90%);
    border-image-slice: 1;
    background-color: #fff !important;
    box-shadow: 0 9px 0 0 #a6a6a6 !important;
}

#menuWindow[style*="width: 1300px"] {
    width: 1300px !important;
    max-height: calc(100% - 560px) !important;
}

#menuWindow.dark div {
    color: unset;
}

#menuWindow div[style*="255,255,255"], #menuWindow span[style*="255,255,255"], #menuWindow span:not(.material-icons)[style*="#fff"] {
    color: rgba(0,0,0,0.5) !important;
}

b {
    color: initial !important
}

.floatR {
    color: rgba(0,0,0,0.5) !important;!i;!;
}

.floatR[href*="p=profile"] {
    color: var(--blue) !important;
}

.setBodH[style="display:inline-block;padding-top:10px;vertical-align:top;width:680px;margin-left:15px;margin-top:0px;"] {
    width: 528px !important;
}

.setBodH[style~="display:inline-block;padding-top:10px;vertical-align:top;width:1004px;margin-left:15px;margin-top:0px;" ] {
	padding-left: 15px !important;
	width: 86.5% !important;
}

.bigMenTabs {
    background-color: rgba(0,0,0,0.12);
}

.bigMenTab {
    font-size: 20px;
    line-height: 35px;
}

.dark .menuTabNew:hover { border-bottom: 5px solid rgba(0, 0, 0, 0.2) !important; }

.dark .tabANew, .dark .tabANew:hover {
	border-bottom: 5px solid rgba(0, 0, 0, 0.7) !important;
}

.settingTab:hover {
	border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

.bigMenTabA {
	border-bottom: 5px solid rgba(0, 0, 0, .9);
}

.bigMenTabA:hover {
	border-bottom: 5px solid rgba(0, 0, 0, 1);
}

.bigMenTab:hover {
	border-bottom: 5px solid rgba(0, 0, 0, 0.4);
}

#profilePicM {
    border: none;
    margin: 0;
    height: 150px;
    width: 150px;
}

.setHed {
    background-color: transparent !important;
    border: none;
    font-size: 22px;
    padding: 0;
    margin-bottom: 8px !important;
}

.settName, .settNameSmall {
    color: rgba(0,0,0,0.5) !important;
    font-size: 22px;
    margin: 0;
    margin-top: 3px;
    padding: 0 !important;
    border: none;
}

.setBodH {
    margin-left:inherit !important;
    background-color: transparent;
    padding: 0 !important;
    width: -webkit-fill-available !important;
}

.pSt {
    width: -webkit-fill-available !important;
    border: none;
    text-shadow: none !important;
    font-size: 22px !important;
    background-color: transparent;
    text-align: left;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    color: rgba(0,0,0,0.5) !important;
    text-transform: inherit;
}

.pSt strong {
    float: right;
    font-size: 22px;
    color: #353535;
}

#friendList .button {
    text-shadow: none !important;
    color: var(--blue) !important;
    font-size: 22px !important;
    padding: 0 !important;
}

#friendList .buttonR {
    color: var(--red) !important;
}

#friendList .lName {
    color: rgba(0,0,0,0.5) !important;
    font-size: 22px;
}

/*XP Bar and Challenges*/

.xpBar {
    height: 20px !important;
    background-color: rgba(0,0,0,0.25);
    border-radius: 0;
    position: relative;
}

.xpBarB {
    background-color: #fff;
    background-image: none;
}

.xpBarV {
    display: none;
}

.chalCard {
    text-shadow: none;
    background-color: transparent;
    color: rgba(0,0,0,0.5);
}

.challMapName, .challMapPrg {
    color: #fff !important
}

.chalRight {
    width: 548px;
}

.chalDesc {
    color: rgba(0,0,0,0.5);
    margin-top: 5px;
}

.chalImgC {
    border-radius: 0;
}

.chalXPBar {
    height: 20px;
    padding: 6px;
    margin-top: 8px;
    background-color: rgba(0,0,0,0.2);
    width: -webkit-fill-available;
}

.chalXPBarC {
    height: 18px;
    margin-top: 1px;
    background-color: #fff;
    background-image: none;
}

.chalProg {
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    top: 5px;
}

.chalImgC {
    width: 110px;
}

/*Login*/

#referralHeader {
    color: #fff !important;
}

.accountInput {
    background-color: rgba(0,0,0,0.12);
    color: #353535;
}

.accBtn {
    background-color: var(--blue) !important;
    text-shadow: none !important;
    color: #fff !important;
    width: calc(50% - 25px);
}

/*Loadout Select*/

.loadoutBtn {
    border-radius: 0;
}

#selectorContainer {
    display: flex;
    height: auto;
    width: -webkit-fill-available;
    justify-content: space-between;
    filter: none;
    background-color: #fff;
    z-index: 20;
    padding: 0 20px;
    margin-bottom: 20px;
}

.selectorItem {
    left: 0;
    transform: unset;
    background-color: transparent !important;
    filter: none !important;
}

#customizeContainer {
    float: unset;
    width: 100%;
}

.selectorItem {
    margin: 0;
    left: 0;
    transform: unset;
    background-color: transparent !important;
    filter: none !important;
}

.selectorItem .selectorIcon {
    filter: drop-shadow(0px 0px 0px #000);
}

.selectorLabel {
    text-shadow: none;
	bottom: -10px;
    color: rgba(0,0,0,0.5) !important;
}

.custContainer {
    border-radius: 0;
    border: none;
    background-color: rgba(0,0,0,0.12);
}

.custContainer {
    display: flex;
    border: none;
    background-color: transparent !important;
    box-shadow: none;
    width: -webkit-fill-available !important;
    height: max-content !important;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    pointer-events: none;
}

.custContainer[onclick*="showWindow(45)"] {
    pointer-events: all
}

.custItNm {
    font-size: 22px;
    display: inline-block;
    position: inherit;
    left: 0;
    top: 0;
    text-shadow: none;
}

.custIcon {
    display: none;
}

.custSubContainer {
    position: inherit;
    display: inline-block;
    top: 0;
    bottom: unset;
    height: 36px;
    width: 36px;
    padding: 0;
    border: none !important;
    margin-left: 8px;
    pointer-events: all;
}

.custSubContainer .custIcon {
    display: block;
    margin: unset
}

.custIconScope {
    display: none
}

.custSubContainer .custItNm {
    display: none;
}

.custSubContainer .selRandom {
    display: block;
    font-size: 16px !important;
    text-shadow: none;
    transform: translate(-50%,-50%);
}

.custClear {
    pointer-events: all
}

.custPremReq {
    transform: translate(-50%, -50%)
}
.custPremReq div {
    display: inline-block;
    margin: 10px;
}

.settLabel {
    right: 0 !important;
    left: unset !important;
    bottom: unset;
    top: 0;
    font-size: 22px;
    text-shadow: none;
    pointer-events: all;
}

.settLabel[style*="#efefef"], custLabel[style*="#efefef"] {
    color: rgba(0,0,0,0.5) !important;
}

.settLabel:hover, .custLabel:hover {
    text-decoration: underline;
}

.custLabel {
    right: 50px;
    font-size: 22px;
    pointer-events: all;
    text-shadow: none;
}

.settSmall {
    font-size: 22px;
    margin: 0 !important;
}

.selRandom {
    display: none;
}

.custIconSpray {
    display: none;
}

.classWeap {
    color: rgba(0,0,0,0.5);
    text-align: unset;
    transition-duration: 0.12s;
}

.classCard {
    width: -webkit-fill-available;
    text-align: unset;
    height: 80px;
    text-shadow: none;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    filter: none;
    pointer-events: none;
    box-shadow: none;
}

.className {
    text-shadow: none;
    font-size: 24px;
    top: 0;
    color: rgba(0,0,0,0.5) !important;
}

.classWeap {
    top: unset;
    bottom: 0;
    font-size: 20px;
    color: rgba(0,0,0,0.25) !important;
}

.classImgC {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    border-radius: 0;
    background-color: rgba(0,0,0,0.25);
    margin-top: 0;
    z-index: 2 !important;
}

.classCard::after {
    content: "play_arrow";
    font-family: 'Material Icons';
    color: rgba(255,255,255,.7);
    background-color: var(--blue);
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    text-indent: 0;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
    pointer-events: all;
    transition: font-size .2s;
}

.classCard:hover::after, .skinCard:hover::after  {
    color: #fff;
    font-size: 70px;
}

.classCard:hover>.classLvl {
    opacity: 1;

}

.classLvl {
    top: 0px;
    right: unset;
    left: 100px;
    text-indent: 0;
    color: #fff !important;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020;
    top: 5px;
    left: 10px;
    font-size: 15px;
    opacity: 0;
    z-index: 2;
    transition-duration: 0.12s;
}

.classXPBar {
    top: unset;
    bottom: 0px;
    left: 0;
    width: 80px;
    border-radius: 0;
    background-color: rgba(0,0,0,0.25);
    height: 10px;
    opacity: 0;
    transition-duration: 0.12s;
    z-index: 2;
}

.classCard:hover>.classXPBar {
    opacity: 1;
}

.clsXPBarV {
    display: none;
}

.clsXPBarC {
    height: 8px;
    background-color: var(--yellow);
    margin: 0;
}

.lockedClass {
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.custStreakIconH {
    pointer-events: all;
    transform: unset;
    top: 0;
    left: unset;
    right: 0;
    text-align: right;
}

.custStreakIcon {
    height: 36px;
    width: 36px;
    background-color: rgba(0,0,0,0.25);
    margin-left: 10px;
}

.winSelH {
    background: transparent
}

#menuWindow[style="overflow-y: auto; width: 850px;"] {
    width: 705px !important;
}

#skinList {
    position: relative;
    left: -20px;
    padding: 20px;
    width: 100%;
}

.skinCard {
    width: -webkit-fill-available;
    text-align: unset;
    height: 80px !important;
    text-indent: 100px;
    text-shadow: none;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    transition-duration: 0.12s;
    border: none !important;
    margin-left: 0;
    margin-right: 0;
    pointer-events: none;
}

.skinCard::after {
    content: "play_arrow";
    font-family: 'Material Icons';
    color: rgba(255,255,255,.7);
    background-color: var(--blue);
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    text-indent: 0;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
    pointer-events: all;
    transition: font-size .2s;
}

.skinCard:hover {
    background-color: transparent;
}

.skinImg, .secImg, .skinImgC {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    padding: 5px;
    background-color: rgba(0,0,0,0.25);
}

.itemOwn {
    text-align: left;
    margin-top: 5px;
    color: rgba(0,0,0,0.5);
}

.streakCard, .noBtnCard {
    text-shadow: unset
}

.skinCard .itemOwn {
    font-size: 20px;
}

.noBtnCard .itemOwn, .streakCard .itemOwn {
    text-align: center;
    color: unset !important
}

.streakImg {
    filter: drop-shadow(2px 0 0 rgba(32,32,32,.25)) 
        drop-shadow(-2px 0 0 rgba(32,32,32,.25))
        drop-shadow(0 2px 0 rgba(32,32,32,.25)) 
        drop-shadow(0 -2px 0 rgba(32,32,32,.25));
    
}

.itemCnt {
    display: none;
}

.itemSea {
    display: none;
}

.skinRandom {
    display: none;
}

/* Tooltips */

.tooltip {
    display: none
}

/*Maps and Mods*/

#serverSearch {
    border-radius: 0;
}

.quickJoin {
    border-radius: 0;
    text-shadow: none;
}

.slideImg {
    border-radius: 0;
}

#hostCMapPickT, .mapListCat, .hostMapName, #startServBtn, .serverHostOp {
    color: #fff !important;
}

.hostHeader, #stickyHostH {
	border: unset;
	background-color: #fff;
	box-shadow: unset
}

#stickyHostH {
	bottom: -21px;
}

.mapListItem {
    background-color: transparent;
}

.mapActionB span.material-icons, #bigMFeatPBtn, #bigMFeatName, #bigMFeatVbar {
    color: #fff !important
}

#bigMFeatHBtn span, #bigMFeatVbar span, .bigMenTab span[style*="fff"] {
    filter: invert(1)
}

#menuWindow[style*="width: 1950px;"] {
    width: 1440px !important
}

#mapList #mpSrch {
	width: 72%
}

.bigMFeatHold:nth-child(2) {
    width: -webkit-fill-available !important
}

.bigMFeatHold:nth-child(3) {
    display: none !important
}

/* server browser */

.carousel, .purejscarousel-btn {
	height: 170px
}

.purejscarousel-btn {
	background-color: rgba(255,255,255,.8) !important;
}

.purejscarousel-btn span {
	color: rgba(0,0,0,.9)
}

.slide {
	border-color: #fff
}

/*Shop*/

#menuWindow[style="overflow-y: auto; width: 1300px; top: 48%; transform: translate(-50%, -52%); max-height: calc(100% - 290px);"] {
    width: 705px !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#menuWindow[style="overflow-y: auto; width: 960px;"] {
    width: 705px !important;
}

.bigMenTab[style*="16px"] {
    font-size: 14px !important;
    padding: 0;
}

#shopMainSellB, #shopSideSellB, #shopPremBar {
    width: -webkit-fill-available;
    margin: 8px 0;
}

#shopMainHedr, #shopMainNav, #shopPremHed, .shopSideSpnNm {
    color: #fff !important;
}

#storeList {
    white-space: break-spaces;
}

.prizeWheelTable {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    zoom: 1;
}

.shopCard {
    width: -webkit-fill-available !important;
    background-image: none !important;
    text-align: left;
    text-shadow: none !important;
    color: #2196f3 !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0;
    background-color: transparent !important;
    height: 40px !important;
    margin-top: 3px !important;
}

.spinValH {
    margin: 0;
    text-shadow: none;
    top: 0;
    width: 100%;
}

.spinValL {
    float: right;
    text-align: unset;
    width: auto;
    font-size: 22px;
    text-shadow: none;
}

.shopImg {
    display: none;
}

.shopImgGrad {
    display: none;
}

.spinVal {
    margin: 0 !important;
    line-height: unset !important;
    height: auto;
    width: fit-content;
    margin: unset;
    background-color: transparent;
    float: right;
    text-align: end;
    font-size: 22px;
    color: rgba(0,0,0,0.5) !important;
}

.spinVal span {
    color: #353535 !important;
}

/*Settings*/

.setSugBox2 {
    display: none;
}

.settingsHeader {
    top: -1px !important;
}

.settingsHeader, .serverHeader, #itemSearchH, #bindsHeader {
    background-color: #fff;
}

#menuWindow div[style="display:inline-block;width:220px;"] {
    width: 200px !important;
}

#settSearch {
    border-radius: 0;
}

.settingsBtn {
    border-radius: 0;
    width: 80px;
}

#settingsTabLayout {
    border-radius: 0;
}

.settingTab {
    grid-row: 1;
    background-color: transparent;
    font-size: 18px;
    padding: 10px 0 5px;
}

.settingsBtn, .loadoutBtn {
    color: #fff !important;
}

.slider, .slider2 {
    border-radius: 0;
}

.slider:before {
    border-radius: 0;
}

.slider2:before {
    border-radius: 0;
}

.sliderM {
    border-radius: 0;
}

.sliderVal {
    border-radius: 0;
    background-color: var(--blue);
    border: none !important;
}

.sliderM::-webkit-slider-thumb {
    width: 15px;
    height: 25px;
    border-radius: 0;
    background-color: var(--blue);
}

.inputGrey, .inputGrey2 {
    border-radius: 0;
}

input[type=color] {
    border-radius: 0;
    box-shadow: 0 0 1px black;
    border-color: fff
}

.plusOrMinus {
    color: var(--blue) !important;
}

.smlInput {
    color: rgba(0,0,0,0.8);
    background-color: rgba(0,0,0, 0.25)
}

/* Popup */

#instructionsUpdate {
	box-shadow: unset;
	background-color: transparent;
	z-index: 10;
	padding: 5px 10px
}

#instructionsUpdate div[style*="margin-top:10px;"]:not(:nth-child(2)) {
	display: none
}

.instructionsHeader {
	display: none
}

.instructionsTabs {
	box-shadow: unset;
	background-color: transparent
}

.instructionsTab {
	border-top: unset;
	color: var(--blue);
	padding: unset
}

.instructionsTab:not(:last-child) {
	border-right: 4px solid grey;
}

/*Section III: HUD*/
#bottomLeftPlayer {
        z-index: 1;
}

#bottomLeftPlayerLeft {
    display: none;
}

#bottomLeftChallIcon {
    display: none;
}

#bottomLeftPlayerMid {
    display: block;
    width: 350px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}

#bottomLeftTeamHolder {
    display: none
}

#bottomLeftHealthBar {
    display: inline-flex;
    background-color: rgba(0,0,0,.2);
    column-gap: unset;
    padding: unset;
    z-index: 10;
}

.nHealthBarSeg {
    width: 70px;
    height: 48px;
    border-radius: 0px;
    margin-right: -1px;
    background-color: transparent;
}

.nhpBSeg {
    border-radius: 0px;
    box-shadow: none !important;
}

#bottomLeftPlayer {
    display: block;
    background: transparent;
}

#bottomLeftPlayerRight {
    display: block;
}

#bottomLeftHealth {
    position: fixed;
    font-size: 25px;
    padding-left: 10px;
    bottom: 22.5px;
    left: 30px;
    z-index: 15;
    text-align: left;
    width: 50px
}

#ammoHolder {
	padding: 7px;
	padding-top: 8px;
	padding-left: 10px;
	font-size: 32px;
}

#ammoIcon {
	height: 55px;
	aspect-ratio: 1/1;
	margin-left: 15px;
	margin-bottom: -5px;
}

/* Streak HUD */

.killStreakItem {
	width: 75px;
	height: 75px
}

/* Leaderboard */

#leaderContainer {
	padding-left: 20px;
	padding-right: 20px;
	margin: unset;
}

.leaderItem {
	font-size: 20px
}

/* Old weapon display */

#weapHolder[style*="display: grid;"] {
    display: flex !important;
    flex-direction: column-reverse;
    row-gap: unset;
    right: 0px;
    bottom: 85px;
}

.weapItem {
    background-color: transparent;
    margin-top: -25px;
    position: relative;
}

.weapSkin, .weapStreakInner, .weapKey {
    display: none
}

.weapIcon {
    transform: scaleX(-1);
    width: 140px;
	height: 70px;
}

#reloadMsg, #interactMsg {
	bottom: 20px;
	padding-left: 45px;
	padding-right: 45px;
	border: unset;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
}

.topRightCounters {
	width:  350px!important;
}

#killsIcon, #deathsIcon, #streakIcon, #kdIcon {
    width: 32px;
    height: 32px;
}

.statIcon {
	padding: 5px 10px;
	margin-left: 10px
}

.statIcon span {
	font-size: 21px;
}

.statIcon .material-icons {
    font-size: 32px !important
}

/*  */
#instructionHolder,
#fullMenHider{
    display: none!important
}

#inGameUI{
    display: block!important
}
/*Terms*/

#termsInfo {
    background-color: transparent;
}

.terms {
    color: #269fff;
	font-size: 20px
}

.terms:hover {
    text-decoration: underline
}

.standout {
    color: #f6d365;
}

.verticalSeparatorInline {
	height: 35px;
	transform: unset;
	border-left: 4px solid white;
}

/* old deathscreen */

.death-ui-bottom {
  background-color: transparent;
  display: block;
  backdrop-filter: unset;
  animation: unset;
  bottom: 20px;
}

.death-ui-bottom .death-column[style*="justify-content: center;"], 
.death-ui-bottom .death-column[style*="justify-content: start;"] {
  display: none
}
.death-row-left *:not(.death-row-weapon, .death-row-weapon-text),
.death-row-right {
  display: none
}

.death-row-weapon-text {
  position: absolute;
  width: fit-content;
  left: calc(50% - 84.5px);
  text-align: left;
  right: 0;
  bottom: 40px;
  transform: translateX(-50%) !important;
  filter: unset;
    
}

.death-ui-bottom .death-row-bottom::before {
  content: "Killed by";
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  font-size: 25px;
}

.death-row-bottom {
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  border-radius: 0;
  height: 70px;
  width: 400px;
  padding: 10px;
  filter: unset;
  outline: unset;
}

.death-row-bottom-bg {
	width: 420px;
	height: 90px;
}

.death-row-class {
  width: 70px;
  height: 70px;
  margin: 0px
}

.death-row-class-level {
  text-align: left;
  padding: 0 5px
}

.death-stats {
  display: none
}

.death-row-user {
	display: flex;
	flex-direction: column;
	align-items: start;
	align-content: unset;
	margin-left: -40px;
	z-index: 25;
}

.death-row-user-text {
  filter: unset;
  font-size: 23px;
}

.death-row-user-stat {
  filter: unset;
  font-size: 18px;
}

.death-ui-bottom-empty {
	background-color: transparent;
	backdrop-filter: unset;
	position: fixed;
	bottom: 0px;
	height: 70px;
	animation: unset
}

.death-ui-bottom-empty .death-column {
	display: inline-block;
}

.death-row-center-self {
	font-size: 27px !important;
	margin: 5px;
	display: inline-block;
	filter: unset;
}

/* live stream overlay  */

.streams-overlay.svelte-rd6eqj {
	right: unset;
	left: 20px;
	top: 70px;
	z-index: 9999999;
	backdrop-filter: unset;
}

.streams-grid.svelte-rd6eqj[style*="repeat(1, 210px)"] {
	display: none;
}

/*Clients*/

.settingsBtn[onclick="window.gt.showAltMng()"], .settingsBtn[onclick="window.logoutAcc()"] {
    display: none;
}
