/*
Krunker Classic
CSS by tae

IGN: びこ
Site: https://whuuayu.github.io/krunker

--Install Instructions--
    Right Click This Page and Click "Save Page As..."

--Changelog and License Info--
    https://github.com/whuuayu/krunker-classic-css

If you want to push an update or your name on the CSS, please consider donating <3
*/

/*The URL below is used for automatically updating the CSS, YOU DO NOT NEED TO TOUCH IT*/

@import url(https://whuuayu.github.io/krunker-classic-css/classic.css);

/*Make Edits Below*/
