/*Install Instructions*/
/*Right Click This Page and Click "Save Page As..."*/

/*The URL below is used for automatically updating the CSS, YOU DO NOT NEED TO TOUCH IT*/

@import url(https://whuuayu.github.io/krunker-classic-css/classic.css);

/*hi, this krunker css was made by tae.*/

/*
ign: びこ
twitter: @whuuayu
discord: tae#4444 (do not dm unless it is commission related)
css discord server: https://discord.gg/phKrnFvE3s
site: https://taekr.carrd.co/
*/

/*Make Edits Below*/
